<a href="https://colab.research.google.com/github/Trishhhhhhh/DSA-58010-/blob/main/PythonModule_Yaba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [22]:
import array
array.typecodes #get all typecodes
A = array.array('i',[1,2,3,4,5,6]) #initializing array A
B = array.array('f',[1.5,2.5,3.5,4.5,5.5,6.5]) #initializing array b
print(A.typecode)
print(B.typecode)

i
f

Example 2: Create/convert the elements of array A to float/decimal number

In [21]:

A = array.array('f',[1,2,3,4,5,6]) #initializing array A
print(A)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0])

What is the output of these codes?

In [37]:
  import array
a = array.array('i', [4,5,6,7]) #initialzing array a
a.insert (1,2) #insert element 2 to index 1
print(a)
a.insert(-1,0) #insert element 0 to index -1
print (a)
a.insert (6,8) #insert elemet 8 to 6 index
print (a)

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 0, 7])
array('i', [4, 2, 5, 6, 0, 7, 8])

Linked Lists

In [33]:
#function that creates node object

class Node:
  def __init__(self,data):
    self.data = data    # assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self):
    self.head = None   #initialize head as null

In [51]:
class Node:
  def __init__(self, data):
    self.data = data    #assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self):
    self.head = None    #initialize head as null

  def printList(self):
    temp = self.head
    while(temp != None):
     print(temp.data)
     temp = temp.next

list = LinkedList()   #empty list
list.head = Node(1)
second = Node(2)
third = Node (3)
fourth = Node(4)
fifth = Node(5)

list.head.next=second
second.next = third
third.next = fourth
fourth.next= fifth

list.printList()

1
2
3
4
5